.slides {
    width: 400px;
    height: 200px;
}
 
img {
    display: none;
    padding-left: 730px;
    padding-top: 200px;
}
 
.block {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
